label{
    color: rgb(255, 255, 255);
    text-shadow: 0.8px 1px 1px black;
}
h1 {
    font-size: 1.9rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0.8px 1px 1px black;

    }
    
    h2 {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0.8px 1px 1px black;

    }

form{
    background-color: rgb(129, 194, 248);
    width: 450px;
    padding: 30px;
    margin: 0 auto;
    
}


input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    height: 35px;
    cursor: pointer;
    font-size: medium;
    color: rgb(255, 255, 255);
    text-shadow: 0.8px 1px 1px rgb(0, 0, 0);
}

button:hover {
    background-color: rgba(224, 236, 255, 0.788);
}

body {
 display: flex;
 align-items: center;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
    
}
