@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


html {
    font-size: 50%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
        
}

.inicio{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content:center;
    background-color: #4cad9d;
    position: fixed;
    align-items: center;

}


.inicio .rodape-topo {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
    
}

.inicio .rodape-topo li a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 3.1rem;
    transition: all 200ms ease-in;
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

.inicio .rodape-topo li a:hover {
    background-color: #ffffff;
    color: #3a9e80;
    border-bottom: 4px solid #37776e;
}   



/* secction cardapio */
.produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.produtos h2{
    font-size: 5rem;
    color: #e6e6e6;
    text-transform: uppercase;
    margin-top: 2rem;
}

.itens-produtos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.itens-produtos img{
    width: 60%;
    height: 300px;
}

.itens-produtos .item {
    text-align: center;
}

.itens-produtos div{
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 1px;
}

.itens-produtos .info {
    background-color: rgb(167, 224, 212);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    flex-direction: column;
}

.itens-produtos .info h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.itens-produtos .info h4{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    
}

.itens-produtos .info h4 span{
    color: #2e2e2e;
    margin-left: 1.5rem;
    text-decoration: underline;
    font-weight: 800px;    
}

.itens-produtos .info button{
    width: 200px;
    height: 30px;
    background-color: #37776e;
    color: #e6e6e6;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: all 200ms ease-in;
}

.itens-produtos .info button:hover{
    background-color: #5e5252;
    color: #ffffff;
}

/* section contatos */

.contatos{
    width: 100%;
    background-color: #4cad9d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.8rem;
    padding-bottom: 4rem;
}

.contatos h3{
    font-size: 6rem;
    margin-bottom: 3rem;
    font-family: 'Indie Flower', cursive;
}

.contatos .contatos-secao{
    display: flex;
    width: 650px;
    justify-content: space-between;
    font-size: 2rem;
}

.contatos i{
    margin-right: 1rem;
}

.contatos .contatos-secao div{
    cursor: pointer;
}

.contatos .contatos-secao div:hover{
    color: #ffc506;
}

footer {
    height: 35px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1200px){
    .itens-produtos {
        width: 90%;        
    }


    .main{
        display: block;
    }
}

@media(max-width: 980px){
    html{
        font-size: 50%;
    }
}

/* menu-toggle menu tres traços */
@media(max-width: 870px){
    .rodape-topo .list-menu{
        display: none;
    }

    .one, .two, .three{
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 6px auto;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
    }

    .rodape-topo{
        justify-content: space-between;
        padding: 0px 40px;
    }

    .rodape-topo.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1f1e1f;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rodape-topo.on .logo{
        display: none;
    }

    .rodape-topo.on .menu-toggle{
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .rodape-topo.on .list-menu {
        display: block;
    }

    .rodape-topo.on .list-menu li{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rodape-topo.on .list-menu li a{
        font-size: 4rem;
        display: block;
    }

    .rodape-topo.on .menu-toggle .one{
        transform: rotate(45deg) translate(8px, -7px);
    }
 
    .rodape-topo.on .menu-toggle .two{
        opacity: 0;
    }

    .rodape-topo.on .menu-toggle .three{
        transform: rotate(-45deg) translate(21px, -7px);
    }
        
    .contatos-secao{
        display: block;
        text-align: center;
        font-size: 2rem;
    }
    
}

@media(max-width: 700px){
    



    .btn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contatos .contatos-secao{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;        
    }

    .contatos .contatos-secao div{
        margin-bottom: 10px;
    }
    
}

@media(max-width: 500px){
    .btn{
        width:100%
    }

}

.tela-carrinho{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #1f1e1f;
    display: flex;
    justify-content: center;
    color: #ffc506;
}

.ocultar-tela-carrinho{
    display: none;
}


.tela-carrinho h2{
    font-size: 3rem;
}

.tela-carrinho thead th{
background-color: #ffc506;
color: black;
height: 2rem;
font-size: 1.8rem;
}

.tela-carrinho table{
    width: 100%;
}

.tela-carrinho td{
    font-size: 1.8rem;
    border-bottom: 1px solid #ffc506;
}

.tela-carrinho p{
    margin-top: 10px;
    font-size: 1.8rem;
}

.tela-carrinho button{
    background-color: #ffc506;
    color: black;
    border: 1px solid #1f1e1f;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
}

.tela-carrinho .bi{
    cursor: pointer;
}

.content-carrinho{
    width: 90%;
    margin-top: 10px;
}

.itens-produtos .info button.selecionado{
    color: #ffffff;
    background-color: #333333;
}
