@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #1f1e1f;
    position: fixed;
    align-items: center;
    font-family: "Roboto", sans-serif;

}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 100%;
    height: 100%;
}

.logo h3 {
    color: white;
    font-size: 1.6rem;
}

.content .list-menu{
display: flex;
align-items: center;
width: 450px;
justify-content: space-between;
}

.content .list-menu li a {
    color: white;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2.4rem;
    transition: all 200ms ease-in;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.content .list-menu li a:hover {
background-color: #333333;
color: #ffc506;
border-bottom: 4px solid #ffc506 ;
}